<footer>
  <div
    class="nasa-wrapper d-flex justify-content-evenly align-items-center flex-wrap"
  >
    <div
      class="info d-flex justify-content-center align-items-center flex-wrap mb-2"
    >
      <a
        class="navbar-brand d-flex justify-content-center align-items-center"
        href="#"
      >
        <img src="assets/nasa-logo.png" alt="nasa-logo" class="nasa-logo" />
      </a>
      <p class="align-self-end m-0">
        All contents were provided by
        <a href="https://www.nasa.gov/" target="_blank">NASA</a> &copy;
      </p>
    </div>
    <div class="frs">
      <p class="align-self-end author">
        <a href="http://3.88.13.48/">By Francisco RS 2021 &copy; </a>
        <a class="text-white" routerLink="/contact">Contact</a>
      </p>
    </div>
  </div>
</footer>
