<app-login *ngIf="loginTemplate" (close)="closePopup($event)"></app-login>

<div class="nasa-wrapper">
  <div class="logo-wrapper d-flex justify-content-between">
    <img src="assets/nasa-logo.png" alt="nasa-logo" class="nasa-logo" />
    <h3 class="align-self-end">Image of the <span>day</span></h3>
  </div>

  <div class="icon-wrapper" *ngIf="auth.user | async as user; else showLogin">
    <div class="user-image-wrapper d-flex flex-column align-items-center me-3">
      <img class="user-thumbnail" [src]="user.photoURL" alt="user-avatar" />
      <span>Hi {{ user.displayName | firstName }}!</span>
    </div>
    <span (click)="logout()">Logout </span
    ><i
      (click)="logout()"
      class="logout fas fa-sign-out-alt animate__animated animate__fadeIn"
    ></i>
  </div>

  <ng-template #showLogin>
    <div class="icon-wrapper">
      <span>Hi anonymous!</span>
      <span (click)="showLoginPopup()">Login</span>
      <i
        (click)="showLoginPopup()"
        class="login fas fa-sign-in-alt animate__animated animate__fadeIn"
      ></i>
    </div>
  </ng-template>
</div>
<nav>
  <div
    class="responsive-menu"
    [ngClass]="{
      'responsive-menu-show': responsive
    }"
  >
    <a
      routerLink="/favourites"
      routerLinkActive="active"
      *ngIf="auth.user | async as user"
      ><i class="far fa-heart"></i> Favourites</a
    >
    <a routerLink="/home" routerLinkActive="active"
      ><i class="fas fa-step-forward"></i> Last</a
    >
    <a routerLink="/random" routerLinkActive="active"
      ><i class="fas fa-random"></i> Random</a
    >
    <a (click)="toggleResponsive()"><i class="fas fa-arrow-up"></i></a>
  </div>

  <div class="d-flex align-items-center justify-content-between p-2 px-3" id="">
    <div class="date-wrapper d-flex align-items-center">
      <div class="input-parent">
        <input
          class="form-control input-date"
          placeholder="Choose date"
          name="dp"
          [(ngModel)]="this.model"
          ngbDatepicker
          #d="ngbDatepicker"
          [minDate]="{ year: 1995, month: 06, day: 20 }"
          [maxDate]="getToday()"
        />
      </div>

      <div class="date-icon input-group-append">
        <a class="btn" (click)="d.toggle()"
          ><i class="far fa-calendar-alt"></i
        ></a>
      </div>

      <div class="search" (click)="goToSearch()">
        <a>
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-md-row">
      <li *ngIf="auth.user | async as user" class="nav-item ms-md-3 no-burguer">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/favourites"
          routerLinkActive="active"
        >
          Favourites</a
        >
      </li>
      <li class="nav-item ms-md-3 no-burguer">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/home"
          routerLinkActive="active"
          >Last</a
        >
      </li>
      <li class="nav-item ms-md-3 no-burguer">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/random"
          routerLinkActive="active"
          >Random</a
        >
      </li>
      <li class="nav-item ms-md-3 burguer">
        <a (click)="toggleResponsive()" class="nav-link" aria-current="page"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
